.blue1 {
    background-color: #0097A6;
}

.blue2 {
    background-color: #126DA6;
}

.blue3 {
    background-color: #1BAFBF;
}


.green1 {
    background-color: #09B05C;
}

.green2 {
    background-color: #139900;
}

.green3 {
    background-color: #99B009;
}

.green4 {
    background-color: #8BD990;
}

.brown1 {
    background-color: #A68A08;
}

.brown2 {
    background-color: #F2D57E;
}

.red1 {
    background-color: #F26D6D;
}

.offwhite {
    background-color: #fff8ff;
}

.gray {
    background-color: gray;
}