.home {
    position: relative;
    text-align: center;
    padding: 50px;
    margin-top: auto;
}

.scroll {
    position: relative;
    text-align: center;
    padding: 50px;
    margin-top: auto;
}

.sign-up {
    position: relative;
    text-align: center;
    padding: 50px;
    margin-top: auto;
}

.email-confirmation {
    position: relative;
    text-align: center;
    padding: 50px;
    margin-top: auto;
}

.login-popup {
    position: relative;
    text-align: center;
    padding: 50px;
    margin-top: auto;
}

.profile {
    position: relative;
    text-align: center;
    padding: 50px;
    margin-top: auto;
}

.message {
    position: relative;
    text-align: center;
    padding: 50px;
    margin-top: auto;
}

.pre-posting {
    position: relative;
    text-align: center;
    padding: 50px;
    margin-top: auto;
}

.create-post {
    position: relative;
    text-align: center;
    padding: 50px;
    margin-top: auto;
}

